@use "../../scss/variables" as *;

.ifs-app-content{
  margin-top: $header-height !important;
  padding: 10px;

  min-height: 90svh;
  background-color: #ffffff;
}

.logo-sidebar {
  height: $header-height;
  padding-left: 1.5rem;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: 18px;

  .menu-icon {
    font-size: 20px;
    cursor: pointer;
  }

  .header-title {
    font-size: 18px;
    font-weight: bold;
  }
}

.ant-layout-sider.fixed-sider {
  margin-top: $header-height !important;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.site-layout {
  transition: margin-left 0.2s;
}
