$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$main-color: #F03C50;
$header-height: 4rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Roboto", "Helvetica Neue", serif;

$collapsible-sidebar-bg: #e7e4e2;